### Common ###
# Byte-compiled / optimized / DLL files / logs
*.py[cod]
*.log
logs/
__pycache__/

### Local ###
# local (project) python interpreter
discount_waiter_env/
# passwords etc.
constants/secure/
**/migrations/[0-9]*
